<div class="container">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
      <div class="input-group">
        <%= f.label :latitude,"Latitude:", class: 'col-md-4 control-label' %><br>
         <divclass="col-md-8">
           <%= f.text_field :latitude,class: "form-control" %><br>
         </div>
      </div>
      <br>
      
      <div class="input-group">
        <%= f.label :longitude,"Longitude:", class: 'col-md-4 control-label' %>
        <div class="col-md-8">
          <%= f.text_field :longitude,class: "form-control" %><br>
        </div>
      </div>
       <br>
       
      <div class="input-group">
        <%= f.label :address,"Address:", class: 'col-md-4 control-label'  %>
        <div class="col-md-8">
          <%= f.text_field :address,class: "form-control" %><br>
        </div>
      </div>
       <br>
       
      <div class="input-group">
        <%= f.label :description,"Description:", class: 'col-md-4 control-label'  %>
        <div class="col-md-8">
          <%= f.text_area :description,class: "form-control" %><br>
        </div>
      </div>
       <br>
       
      <div class="input-group">
        <%= f.label :title ,"Title:", class: 'col-md-4 control-label' %>
        <div class="col-md-8">
          <%= f.text_field :title ,class: "form-control"%><br>
        </div>
      </div>
       <br>
       
       <div class="form-group">
         <div class="controls">
        <%= f.submit %>
      </div>
       </div>
   </fieldset>
 <% end %>
</div>
